<!DOCTYPE html>
<html lang="en">

<head>
    <title>DevOps</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" type="text/css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-static-top navbar-expand-md">
        <div class="container">
            <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span>
            </button> <a class="navbar-brand" href="#">Sobre DevOps</a>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav mr-auto">
                    <li class="active nav-item"><a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item"><a href="/DevOps" class="nav-link">DevOps</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Jornada DevOps! =)</h1>
            <p>Você está pronto para aprender sobre DevOps?</p>
            <br>
            <p><a class="btn btn-primary btn-lg" href="/DevOps" role="button">Obter informações sobre DevOps</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Como surgiu o DevOps?</h3>
                <p>O movimento DevOps começou entre 2007 e 2008, quando as operações de TI e as comunidades de desenvolvimento de software se manifestaram sobre o que consideravam um nível fatal de disfunção no setor. Eles protestaram contra o modelo tradicional de desenvolvimento de software, que exigia que aqueles que escrevessem o código fossem organizacionais e funcionalmente separados daqueles que implantam e suportam esse código.
                </p>
            </div>
            <div class="col-lg-6">
                <h3>Cultura</h3>
                <p>Se pudéssemos resumir a cultura de DevOps em uma palavra, seria “colaboração”. Toda ferramenta e automação no mundo são inúteis se não forem acompanhados por um desejo genuíno por parte dos profissionais de desenvolvimento e de TI de trabalhar juntos. O DevOps não resolve problemas de ferramentas, resolve problemas humanos.
                </p>
            </div>
        </div>
    </div>
</body>

</html>
